/* Общие стили для страницы */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffebd6;
    color: #333333;
}
:root {
    --color-main: #feefc3;
    --color-cont: #ffd0ad;
    --color-note:#f7e4d2;
  }
* {
    box-sizing: border-box;
}
/* Стили для шапки страницы  #feefc3 */
header {
    background-color:  var(--color-cont);

    padding: 16.5px;
    text-align: center;
}

/* Основные стили для контента */
main {
    padding: 0 5%;
}

/* Стили для секции редактора заметок */
#editor {
    margin-bottom: 22px;
}

/* Стили для заметки */
.Note {
    border: 1px solid #9b9b9b;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--color-note);
    border-radius: 10px;
}

/* Стили для названия заметки */
#note-input-name {
    background-color:  var(--color-note);
    border: 1px solid  var(--color-note);
    border-bottom: 1px solid #8f8e8e;
    width: 100%;
    font-size: 1.14em;
    height: 40px;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
}

#note-input {

    background-color:  var(--color-note);
    border: 1px solid  var(--color-note);
    width: 100%;
    height: 165px;
    padding: 11px;
    font-size: 1.12em;
    box-sizing: border-box;
    border-radius: 5px;
}

#save-note {
    margin-top: 11px;
    padding: 11px 22px;
    background-color:  #D09064;
    border: 2px;
    border-color: #DBC4AF;
    border-radius: 5.5px;
    cursor: pointer;
}

#save-note:hover {
    background-color: #a96536;
}

/* Стили для секции заметок */
#notes {
    margin-top: 22px;
}

/* Стили для поля поиска */
#search {
    width: 100%;
    padding: 11px;
    margin: 9px 0;
    background-color:  var(--color-cont);

    border: 1px solid #666;
    box-sizing: border-box;
    border-radius: 5px;
}

/* Стили для заголовка списка заметок */
.serch {
    display: grid;
    grid-template-columns: 75% 25%;
    margin: 0;
    padding: 10px;
    background-color:  var(--color-cont);
    border: 1px solid #666;
    border-radius: 5.5px;
    text-align: center;
    h3 {

        margin: 9px 0;
        padding-top: 10px;
    }
}

/* Стили для контейнера списка заметок */
#note-list .notes-container {
    width: 100%;
    display: flex;
    flex-direction: row ;
    gap: 15px;
	justify-content: flex-start;
    padding-top: 15px;
}

/* Стили для элемента заметки */
.note-item {
    background-color:  var(--color-note);
    border: 1px solid #666;
    border-radius: 5.5px;
    margin: 0 2%;
    width: 430px;
    padding: 15px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}

/* Стили для заголовка заметки */
.note-item h3 {
    margin: 0;
    font-size: 18px;

}

/* Стили для кнопки удаления */
.delete-button {
    background-color: #D09064;

    border: none;
    border-radius: 5.5px;
    padding: 5.5px 15px;
    cursor: pointer;
    margin-top: auto; /* Перемещает кнопку вниз */
}

.delete-button:hover {
    background-color: #a96536;
}
.edit-button {
    background-color: #D09064;

    border: none;
    border-radius: 5.5px;
    padding: 5.5px 15px;
    cursor: pointer;
    margin-right: 10px;
}

.edit-button:hover {
    background-color: #a96536;
}
.button {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}
@media screen and (max-width: 480px) {
    #note-list .notes-container {
        flex-direction: column;
    }
    .note-item {
        width: 100%;
        margin: 0;
    }
}